body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lucida console", "Courier New", "Courier", monospace;
}

body {
    background-image: url('../images/img-background.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 19rem;
    max-width: 70%;
    min-height: 5rem;
    max-height: 70%;
    padding: 1.5rem;
    margin-top: 5%;
    margin-left: 12.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    scrollbar-color: beige black;
    scrollbar-width: thin;

    h1 {
        margin: 0 0 1rem 0;
        font-size: 1.2rem;
        color: beige;
    }
    
    h2 {
        font-size: 1.1rem;
        color: beige;
    }
    
    a {
        text-decoration: none;
        color: beige;
        display: block;
        margin: 0.2rem 0;
    }
    
    a:hover {
        color: black;
        background-color: beige;
    }
    
    p {
        color: beige;
        letter-spacing: -0.1;
    }
}

h1 {
    margin: 0 0 0 0;
    font-size: 1.2rem;
    color: beige;
}

h2 {
    font-size: 1.1rem;
    color: beige;
}

a {
    text-decoration: none;
    color: beige;
    display: block;
    margin: 0.2rem 0;
}


.menu-item {
    margin: 0.2rem 0;
    cursor: pointer;
    color: beige;
}

.menu-item:hover {
    color: black;
    background-color: beige;
}

.submenu {
    display: none;

    a::before {
        content: " - ";
    }
}

.link-contenido {
    text-decoration: none;
    color: beige;
    display: block;
    margin: 0.2rem 0;
}

.link-contenido::before {
    content: " - ";
}

.link-contenido#link-menu::before {
    content: "⮌ ";
}

.link-contenido:hover {
    color: black;
    background-color: beige;
    cursor: pointer;
}

.contenido#portfolio {
    display: none;
    padding: auto;

    img {
        width: 70%;
        height: auto;
        margin-left: 15%;
    }
}

.blinking-cursor {
    color: beige;
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: beige;
    }
}